<!DOCTYPE html>
<html lange="pt" layout:decorate="~{layouts/layout}">

<head>

	<link rel="stylesheet" th:href="@{/css/utils.css}">

	<title>Empreendimentos</title>
</head>

<body>

	<!-- PAGINA SOBRE OS EMPREENDIMENTOS QUE CONTEM 4 CARDS COM FOTO E TEXTO  -->

	<section layout:fragment="corpo">

		<div class="container py-4">
			<div class="card " style="border-radius: 15px;">
				<div class="card-body bg-light" style="border-radius: 15px;">
					<h5 class="card-title text-center"><b>Emprendimentos atendidos</b></h5>
					<p class="card-text" style="text-align: justify;">A IFSol João Câmara atende a
						empreendimentos (grupos, informais, associações, cooperativas) que
						trabalham ou queiram trabalhar sob a filosofia da economia
						solidária que estejam sediados na região do Mato Grande Potiguar.
						Realizamos assessoria na área de comercialização e projetos em
						parceria com outras instituições e núcleos.</p>
				</div>
			</div>
		</div>

		<div class="bg-light">
			<div class="container  bg-light">
				<div class="row py-5 justify-content-center">

					<div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
						th:each="emp : ${empEncontrados}">
						<div class="card mb-4 bor-rad " style="max-width: 18rem;">
							<img th:src="@{/download/} + ${emp.foto.id} + '?salvar=false'"
								class="img-fluid bor-top-rad">
							<div class="card-body">
								<h5 class="card-title text-center" th:text="${emp.nome}">Arizona - mel</h5>
								<p class="card-text" style="text-align: justify;" th:text="${emp.descricao}">Lorem ipsum
									dolor sit amet,
									consectetur
									adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									exercício ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</body>

</html>