<!DOCTYPE html>
<html lange="pt" layout:decorate="~{layouts/layout}">

<head>

	<link rel="stylesheet" th:href="@{/css/utils.css}">

	<!--	Arquivo JS para limitar os caracteres	-->
	<script th:src="@{/js/limitarCaracteres.js}"></script>

	<title>Página Inicial</title>
</head>

<body>

	<!-- PAGINA PRINCIPAL , CONTEM UMA IMAGEM E TRES CARDS COM INFORMAÇÕES  -->

	<section layout:fragment="corpo">

		<div class="divgeral w-100">
			<div class="container">
				<div class="container img-back" style="text-align: center">
					<img src="../../Imagens/largagirassol.jpg" class="img-fluid"
						style="width: 70vw; margin: 0px; max-height: 500px">
				</div>

				<div th:if="${msgErro} != null">
					<script>
						alert("Solicitação de notícia não encontrada!");
					</script>
				</div>

				<div class="row mx-0 d-flex justify-content-center">
					<div class="col-md-6 col-lg-4 mt-4 d-flex justify-content-center" th:each="n : ${noticias}">
						<div class="card bor-rad shadow d-flex" style="min-width: 18rem;">
							<div class="d-flex justify-content-end">
								<div class="position-absolute p-1">
									<button class="like link-like" name="buttom-like">
										<span class="material-icons fs-2">
											thumb_up_alt
										</span>
									</button>

									<script>

										onload = () => {
											let stars = document.getElementsByName("buttom-like");

											stars.forEach(star => {
												star.addEventListener("click", () => {
													if (!star.classList.contains("like-select")) {
														star.classList.add('like-select');
													} else {
														star.classList.remove("like-select");
													}
												});
											});
										}

									</script>
								</div>
								<img th:if="${n.foto != null}" th:src="@{/download/} + ${n.foto.id} + '?salvar=false'"
									class="card-img-top bor-top-rad" alt="...">
							</div>

							<div class="card-body bor-rad" style=" max-height: 22rem;">
								<h5 class="card-title" th:text="${n.titulo}"></h5>
								<p class="card-text p-1" style="text-align: justify;" th:text="${n.texto}"
									name="texto_noticia">
								</p>

								<script>
									limitarCaracteres(210);
								</script>

							</div>
							<div class="d-flex justify-content-center flex-column mx-3 mb-3">
								<a th:href="'/publico/noticia/' + ${n.id}"
									class="btn btn-primary bor-rad-btn shadow">Leia Mais</a>
							</div>
							<div class="card-footer text-muted bor-bottom-rad text-end" th:text="${n.dataPublicacao}">
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="bg bg-light">
			<div class="container my-4 py-4">

				<div class="row pt-4">
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="card bor-rad shadow">
							<div class="card-header  bor-top-rad text-dark fw-bold text-center">Missão</div>
							<div class="card-body">
								<p class="card-text" style="text-align: justify;">Fortalecer a Economia solidaria a
									partir dos saberes
									do IFRN através da incubação a empreendimentos
									econominos solidarios, visando a sustentabilidade o desenvolvimento territorial
									e a atuação em rede.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="card bor-rad shadow">
							<div class="card-header bor-top-rad text-dark fw-bold text-center">Nossos valores
							</div>
							<div class="card-body ">
								<p class="card-text" style="text-align: justify;">Autonomia</p>
								<p class="card-text" style="text-align: justify;">Autogestão </p>
								<p class="card-text" style="text-align: justify;">Solidariedade</p>
								<p class="card-text" style="text-align: justify;">Sustentabilidade</p>
								<p class="card-text" style="text-align: justify;">Profissionalismo</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="card bor-rad shadow">
							<div class="card-header  bor-top-rad text-dark fw-bold text-center">Como fazer parte da
								IFsol João
								Câmara?</div>
							<div class="card-body">
								<p class="card-text" style="text-align: justify;">Entrar em contato com a equipe
									<a class="text-decoration-none"
										href="https://instagram.com/ifsol.jc?igshid=16owolwsu842l"
										target="_black">IFSOL_JC</a>
									atraves dos contados no menu inferior e superior

									detalhando sobre o que se trata e o porque quer fazer parte da ifsol.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- final do container -->
			</div>
		</div>

	</section>

</body>

</html>