<!DOCTYPE html>
<html lange="pt" layout:decorate="~{layouts/layout}">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Sobre a equipe IFsol João Câmara</title>
</head>

<body>

	<section layout:fragment="corpo">

		<div class="container">

			<div class="text-center my-3">
				<img src="/Imagens/equipeifsol.jpeg" class="img-fluid img-equipe brt-15">
			</div>

			<div class="card mb-3" style="border-radius: 15px;">
				<div class="card-body bg-light" style="border-radius: 15px;">
					<h5 class="card-title" style="text-align: center">
						<b>Sobre a IFsol</b>
					</h5>
					<p class="card-text" style="text-align: justify;">A
						Incubadora Tecnológica para o Fortalecimento dos Empreendimentos
						Econômicos Solidários do IFRN (IFSol) nasceu em 2018, a partir da
						reunião de um grupo de servidores do IFRN que possuíam em comum a
						vontade de trabalhar com empreendimentos associativos, dentro dos
						princípios da educação popular. Sua práxis se realiza através da
						integração de atividades ligadas ao ensino, pesquisa e extensão.
						Assim, a IFSol busca aproximar servidores e estudantes da
						discussão sobre economia solidária, bem como das comunidades no
						entorno dos campi, contribuindo para a realização do papel social
						da instituição. Seu objetivo principal é fortalecer os
						empreendimentos econômicos solidários, melhorando a qualidade de
						vida dos trabalhadores e trabalhadoras neles envolvidos. O Núcleo
						João Câmara atende empreendimentos sediados nos municípios da
						Região do Mato Grande. Incluindo o núcleo João Câmara, a IFSol
						possui nove núcleos espalhados por diversas cidades do RN, como:
						Natal ZN, Canguaretama, Ceará-Mirim, Caicó, Lajes, Macau, Nova
						Cruz, São Gonçalo e São Paulo do Potengi.</p>
				</div>
			</div>


			<div class="card mb-3" style="border-radius: 15px;">
				<div class="card-body bg-light" style="border-radius: 15px;">
					<h5 class="card-title" style="text-align: center">
						<b>Nossa equipe</b>
					</h5>
					<p class="card-text" style="text-align: justify;">Em
						2020/2021 a equipe da IFSol Núcleo João Câmara está composta por
						onze pessoas, sendo três servidores e oito estudantes. As
						atividades desenvolvidas buscam a articulação entre extensão,
						ensino e pesquisa a partir da realização da prática profissional
						dos estudantes, os quais realizam, sob orientação e tutoria dos
						docentes, atividades de assessoria e de capacitações nas áreas de
						administração e informática.</p>
				</div>
			</div>





		</div>
	</section>
</body>

</html>