<!--	Mensagem de sucesso que aparecerá no cadastro	-->
<div class="mb-3 d-flex justify-content-center" th:if="${msgSucesso} != null">
	<div class="alert alert-primary alert-dismissible fade show mb-0 bor-rad">
		<div class="p-0 m-0 text-start">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
				<use xlink:href="#check-circle-fill"></use>
			</svg>
			<b class="fs-6 text-primary" th:text="${msgSucesso}"></b>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>

<!--	Mensagem de erro que aparecerá no cadastro	-->
<div class="mb-3 d-flex justify-content-center" th:if="${msgErro} != null">
	<div class="alert alert-danger alert-dismissible fade show mb-0  bor-rad">
		<div class="p-0 m-0 text-start text-wrap d-flex align-content-center" th:each="msg: ${msgErro}">
			<svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Danger:">
				<use xlink:href="#exclamation-triangle-fill" />
			</svg>
			<b class="fs-6 text-danger" th:text="${msg}"></b>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>