<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layoutL}">

<head>

</head>

<body>

	<section layout:fragment="corpo2">
		<div class="container mt-2">

			<div class="row ">
				<div class="col-md-6 d-flex justify-content-center">
					<div class="card border-dark mb-3" style="min-width: 36rem;">
						<div class="card-header bg-dark text-white fw-bold text-center">Nova notícia</div>
						<div class="card-body text-success py-3">

							<div class="py-2" th:replace="fragmentos/msgNot"></div>

						</div>

						<form class="px-4" th:action="@{/noticia/salvar}" th:object="${noticia}" method="POST"
							align="center" enctype="multipart/form-data">

							<input type="hidden" th:field="${noticia.id}" />

							<div class="mb-3" style="text-align: left;">
								<label for="tituloNot" class="form-label">Título: </label>
								<input type="text" th:field="${noticia.titulo}" class="form-control" id="tituloNot"
									placeholder="Digite o título">
							</div>

							<div class="mb-3" style="text-align: left;">
								<div class="form">
									<label for="textoNot" class="form-label mt-0">
										Texto:
									</label>
									<textarea class="form-control" placeholder="Escreva o texto da notícia aqui..."
										id="textoNot" style="height: 130px" th:field="${noticia.texto}"></textarea>
								</div>
							</div>

							<div class="mb-3 text-start">
								<label for="imgNot" class="form-label mt-0">
									Foto:
								</label>
								<input class="form-control" type="file" th:name="file" />
								<input type="hidden" th:field="${noticia.foto.id}" />
							</div>

							<div class="mb-3" style="text-align: left;">
								<input class="btn btn-success " type="submit"
									th:value="${noticia.id}  == 0 ? Adicionar : Editar" />
								<input class="btn btn-danger" type="submit" value="Voltar" formaction="/adm"
									formmethod="GET" />
							</div>
						</form>

						<!--QUANDO O FOR PARA CADASTRAR O USUARIO APARECERA O BOTÃO "CADASTRO"E PARA EDITAR "EDITAR"  -->

					</div>
				</div>
			</div>

		</div>
	</section>

</body>

</html>