.link-operacao {
	color: #212529 !important;
}

.link-operacao:hover {
	color: #0d6efd !important;
}

.box-noticia {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.box-noticia .box-img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.box-noticia .box-img img {
    width: 100%;
    vertical-align: top;
    transition: all 0.5s ease 0s;
}

.box-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    background: rgba(44, 202, 97, 0.9);
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box-hover:hover {
    opacity: 1;
}

.txt-hover {
    display: none;
}

.box-hover:hover span {
    line-height: 38px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: block;
    width: 180px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px auto auto -90px;
}