
/*  border-radius   */
.bor-rad {
    border-radius: 15px !important;
}

.bor-rad .bor-top-rad {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
}

.bor-top-rad {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.bor-top-rad .bor-top-rad {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
}

.bor-bottom-rad {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.bor-bottom-rad .bor-bottom-rad {
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
}

.bor-rad-btn {
    border-radius: 10px;
}

.card-hover:hover {
    border-spacing: 1px;
    border-style: solid;
    box-shadow: 0 .8rem 2rem rgba(0, 0, 0, 0.788)!important;
    transition: all .4s ease-in-out;
}

.star {
    border: 0ch;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 5px;
}

.link-star {
    color: #fff;
}

.link-star:hover{
    color: yellow;
    transition:  all .4s ease-in-out;

}

/*

thead th, thead td, thead tr{
    border: 0ch;
    border-style: none;
}

tbody td {
    border: 0ch;
}

.table-bor-rad {
    border-radius: 15px !important;
}

*/