<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layoutL}">

<head>

</head>

<body>

	<section layout:fragment="corpo2">


		<div class="container mt-2">

			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<h4>Bem vindo!</h4>
				<p style="text-align: justify; font-size: 11pt;">
					Esta e a pagina de administracao do Website da IFSOL. Aqui a equipe do projeto podera adicionar e
					administrar os empreendimentos, e os usuarios que podem acessar a pagina de administrador. Lembrando
					que
					so usuarios administradores podem cadastrar um usuario
				</p>

				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

			<div class="row mt-4">
				<div class="col-md-4">

					<div class="card border-success">
						<div class="card-header text-center fw-bolder bg-success text-white">
							Configurações de Usuários
						</div>
						<div class="card-body">
							<p class="card-text fw-bold">
								Total de usuáros:
							</p>

							<div>
								<a href="/usuario/cadastro" sec:authorize="hasAuthority('ADMIN')"
									class="btn btn-success">Abrir</a>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-4">

					<div class="card border-primary">
						<div class="card-header text-center fw-bolder bg-primary text-white">
							Configurações de Empreendimentos
						</div>
						<div class="card-body">
							<p class="card-text fw-bold">
								Total de empreendimentos:
							</p>
							<div>
								<a href="/usuario/cadastroem" class="btn btn-primary">Abrir</a>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-4">

					<div class="card border-dark">
						<div class="card-header text-center fw-bolder bg-dark text-white">
							Configurações de Notícias
						</div>
						<div class="card-body">
							<p class="card-text fw-bold">
								Total de usuáros:
							</p>
							<div>
								<a href="/noticia/nova" sec:authorize="hasAuthority('ADMIN')"
									class="btn btn-dark">Abrir</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</body>

</html>