<!DOCTYPE html>
<html lange="pt" layout:decorate="~{layout}">

<head>
	<link rel="stylesheet" href="paginainicial.css" />


	<title>Página Inicial</title>
</head>

<body>

	<!-- PAGINA PRINCIPAL , CONTEM UMA IMAGEM E TRES CARDS COM INFORMAÇÕES  -->

	<section layout:fragment="corpo">

		<div class="divgeral">

			<div class="container" style="text-align: center">
				<img src="/Imagens/sol.jfif" class="img-fluid" style="width: 100vw; margin: 0px; max-height: 500px">
			</div>

			<br /> <br />

			<div class="container">

				<div class="row ">
					<div class="col-md-4 d-flex justify-content-center">
						<div class="card border-success mb-4  " style="max-width: 18rem;">
							<div class="card-header bg border-success text-dark"
								style="text-align: center; background-color:white;">Missão</div>
							<div class="card-body text-success">
								<p class="card-text" style="text-align: justify;">Fortalecer a Economia solidaria a
									partir dos saberes
									do IFRN através da incubação a empreendimentos
									econominos solidarios, visando a sustentabilidade o desenvolvimento territorial
									e a atuação em rede.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 d-flex justify-content-center">
						<div class="card border-success mb-4" style="width: 18rem;">
							<div class="card-header bg border-success text-dark"
								style="text-align: center; background-color:white;">Nossos valores
							</div>
							<div class="card-body text-success">
								<p class="card-text" style="text-align: justify;">Autonomia</p>
								<p class="card-text" style="text-align: justify;">Autogestão </p>
								<p class="card-text" style="text-align: justify;">Solidariedade</p>
								<p class="card-text" style="text-align: justify;">Sustentabilidade</p>
								<p class="card-text" style="text-align: justify;">Profissionalismo</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 d-flex justify-content-center">
						<div class="card border-success mb-4" style="max-width: 18rem;">
							<div class="card-header bg border-success text-dark"
								style="text-align: center; background-color:white;">Como fazer parte da IFsol João
								Câmara?</div>
							<div class="card-body text-success">
								<p class="card-text" style="text-align: justify;">Entrar em contato com a equipe
									IFSOL_JC
									atraves dos contados no menu inferior e superior

									detalhando sobre o que se trata e o porque quer fazer parte da ifsol</p>
							</div>
						</div>
					</div>
				</div>



			</div>
			<!-- final do container -->



		</div>

	</section>

</body>

</html>