<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layouts/layout}">

<head>
	<!--	Arquivo CSS para estilizar a página	-->
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!--	Arquivo JS para limitar os caracteres	-->
	<script th:src="@{/js/limitarCaracteres.js}"></script>

	<title>Notícia</title>
</head>

<body>

	<section layout:fragment="corpo">

		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
			aria-label="breadcrumb" class="w-100">
			<div class="container">
				<ol class="breadcrumb py-3">
					<li class="breadcrumb-item"><a class="text-decoration-none " href="/publico/home">Início</a></li>
					<li class="breadcrumb-item active" aria-current="page" th:text="${noticia.titulo}">noticia</li>
				</ol>
			</div>
		</nav>

		<div class="container mt-2">
			<div class="row" th:if="${noticia} != null">
				<div class="col-lg-9 d-flex justify-content-center">
					<div class="card">
						<img th:if="${noticia.foto != null}"
							th:src="@{/download/} + ${noticia.foto.id} + '?salvar=false'" class="card-img-top"
							alt="...">
						<div class="card-body">
							<h5 class="card-title" th:text="${noticia.titulo}"></h5>
							<p class="card-text" style="text-align: justify;" th:text="${noticia.texto}"></p>
						</div>
						<div class="card-footer text-muted">
							<span th:text="${noticia.dataPublicacao}+' '"></span>por
							<a class="text-decoration-none" th:href="'/publico/sobrenos/'"> equipe do IFSol</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-12 col-sm-6 " th:each="n : ${noticias}" th:if="${n.id != noticia.id}">
							<div class="card mb-2">
								<div class="card-header p-0">
									<a th:href="${n.id}" class="box-noticia">
										<div class="box-img">
											<img th:if="${n.foto.id != null}"
												th:src="@{/download/} + ${n.foto.id} + '?salvar=false'" alt="...">
										</div>
										<div class="box-hover">
											<span class="txt-hover">VER NOTÍCIA</span>
										</div>

									</a>
								</div>
								<div class="card-body">
									<h5 class="card-title" th:text="${n.titulo}"></h5>
									<p class="card-text" style="text-align: justify;" th:text="${n.texto}"
										name="texto_noticia">
									</p>
									<script>
										limitarCaracteres(81);
									</script>
								</div>
								<div class="card-footer text-muted" th:text="${n.dataPublicacao}"></div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row mt-4 text-">
				<div class="col-12">
					<a href="/publico/home/" class="btn btn-warning" type="button">
						<span class="fs-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-arrow-left mb-1" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
							</svg>
							Início
						</span>
					</a>
				</div>

			</div>

		</div>
	</section>

</body>

</html>