<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layouts/layoutL}">

<head>
	<script type="text/javascript" th:src="@{/js/limitarCaracteres.js}"></script>
	<title>Configurações de notícia</title>
</head>

<body>

	<section layout:fragment="corpo2">

		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
			aria-label="breadcrumb" class="w-100">
			<div class="container">
				<ol class="breadcrumb mt-2">
					<li class="breadcrumb-item"><a class="text-decoration-none " href="/adm">Início</a></li>
					<li class="breadcrumb-item active" aria-current="page">Configurações de notícias</li>
				</ol>
			</div>
		</nav>



		<div class="container" align="center">

			<!--IMPORTA PARA ESSA PAGINAS O ARQUIVO QUE CONTEM AS MENSAGENS DE ERRO
					E SUCESSO  -->
			<div th:replace="fragmentos/mensagens"></div>

			<div class="row mt-4">
				<div class="col-lg-6">
					<div class="card border-dark mb-3" style="max-width: 36rem;">
						<div class="card-header bg-dark text-white fw-bold text-center">Nova notícia</div>
						<div class="card-body text-success pt-4 pb-2">

							<form class="px-4" th:action="@{/noticia/salvar}" th:object="${noticia}" method="POST"
								align="center" enctype="multipart/form-data">

								<input type="hidden" th:field="${noticia.id}" />

								<div class="mb-3" style="text-align: left;">
									<label for="tituloNot" class="form-label">Título: </label>
									<input type="text" th:field="${noticia.titulo}" class="form-control" id="tituloNot"
										placeholder="Digite o título">
								</div>

								<div class="mb-3" style="text-align: left;">
									<div class="form">
										<label for="textoNot" class="form-label mt-0">
											Texto:
										</label>
										<textarea class="form-control" placeholder="Escreva o texto da notícia aqui..."
											id="textoNot" style="height: 130px" th:field="${noticia.texto}"></textarea>
									</div>
								</div>

								<div class="mb-3 text-start">
									<label for="imgNot" class="form-label mt-0">
										Foto:
									</label>
									<input class="form-control" type="file" th:name="file" />
									<input type="hidden" th:field="${noticia.foto.id}" />
								</div>

								<div class="mb-3" style="text-align: left;" th:if="${noticia.dataPublicacao} != null">
									<div class="row">
										<div class="col-sm-6">
											<label for="exampleInputName1" class="form-label mt-0">
												Data de publicação:
											</label>
											<input class="form-control text-center" type="text"
												th:field="${noticia.dataPublicacao}" readonly />
										</div>
									</div>
								</div>

								<div class="mb-3" style="text-align: left;">
									<input class="btn btn-success" type="submit"
										th:value="${noticia.id}  == 0 ? Adicionar : Editar" />
									<input class="btn btn-danger" type="submit" th:if="${noticia.id} != 0"
										value="Cancelar" formaction="/noticia/config/" formmethod="GET" />
									<input class="btn btn-warning" type="reset" value="Limpar" />
								</div>
							</form>
						</div>

						<!--QUANDO O FOR PARA CADASTRAR O USUARIO APARECERA O BOTÃO "CADASTRO"E PARA EDITAR "EDITAR"  -->

					</div>
				</div>

				<div class="col-lg-6">
					<div class="card border-dark md-3" style="max-width: 26rem;">
						<div class="card-header bg-dark fw-bold text-white">Busca de notícias</div>
						<div class="card-body text-dark">

							<form th:action="@{/noticias/buscarnoticia}" method="GET" align="center">

								<div class="mb-3" style="text-align: left;">
									<label for="tituloBusca" class="form-label">
										Título:
									</label>
									<input type="text" th:name="titulo" class="form-control" id="tituloBusca" />
								</div>

								<div class="mb-4" style="text-align: left;">
									<label for="buscaTexto" class="form-label" style="text-align: left;">
										Texto:
									</label>
									<input type="text" th:name="texto" class="form-control" id="buscaTexto" />
								</div>

								<div class="my-3">
									<input type="checkbox" th:name="mostrarTodosDados" th:value="true" /> Mostrar todos
									os dados
								</div>

								<input class="btn btn-success" type="submit" value="Buscar" />
								<input class="btn btn-warning" type="reset" value="Limpar" />
							</form>

							<div class="mt-3 md-0">
								<p class="fw-bold my-0 py-0 text-muted" style="font-size: 9pt; text-align: justify;">
									<span style="color:red;">*</span> Para buscar todas as notícias clíque em buscar sem
									preencher nenhum dado
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="mt-5" th:if="${not #lists.isEmpty(noticias)}">
					<table class="table table-bordered table-striped table-hover">
						<thead class="text-center">
							<tr class="align-middle">
								<th>Foto</th>
								<th>Título</th>
								<th th:if="${mostrarTodosDados} == true">Texto</th>
								<th>Data de publicação</th>
								<th>Operações</th>
							</tr>
						</thead>

						<tbody>
							<tr class="align-middle" th:each="n : ${noticias}">
								<td class="text-center">
									<img th:if="${n.foto} != null"
										th:src="@{/download/} + ${n.foto.id} + '?salvar=false'"
										style="max-height: 128px" />
								</td>
								<td th:text="${n.titulo}"></td>
								<td th:if="${mostrarTodosDados} == true" style="text-align: justify;"
									name="texto_noticia" th:text="${n.texto}"></td>

								<td class="text-center" th:text="${n.dataPublicacao}"></td>
								</td>

								<td class="text-center">
									<a class="text-decoration-none" th:href="'/noticias/edita/' + ${n.id}"
										title="Editar">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
											<path
												d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
											<path fill-rule="evenodd"
												d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
										</svg>
									</a>
									|
									<a class="text-decoration-none" th:href="'/noticias/remove/' + ${n.id}"
										onclick="if (!confirm('Deseja realmente remover a noticia?')) return false"
										title="Remover">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
											<path
												d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
										</svg>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>

</body>

</html>